@using Vidly.Models
@{
    ViewBag.Title = "RandomData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @(
        ((Movie)ViewData["Movie"]).Name
    )

    @{
        var m = (Movie)ViewData["Movie"];
    }
</h2>
<h3>@m.Name</h3>

